{% extends "layout.html" %}

{% block title %}
    Learn More
{% endblock %}

{% block main %}
<div id=margin>
    <h2 style="text-align: center">Learn More About Discrimination on the Basis of...</h2><br>
    <div class="row-learn">
        <div class="column">
            <h2><b>Race</b></h2>
            <p>Hate crimes and bias incidents are on the rise on college campuses. For years, racial bias has been the most common motivation for committing such crimes.Despite the abundance of evidence demonstrating that hate crimes and bias incidents are on the rise, limited reporting options suggest that many of these actions could go unrecorded. <br>Click <a style="color: #bc5a45" href="/racial">here</a> to learn more about discrimination on the basis of race specifically on college campuses.</p>
        </div>
        <div class="column-right">
            <p><img src="static/studentsblm.png" width="450" height="250" alt="image from protest against racism in schools"></p>
        </div>
    </div>
    <div class="row-learn">
        <div class="column">
            <br><h2><b>Gender and Sexual Orientation</b></h2>
            <p>Despite the fact that Lesbian, gay, bisexual, transgender, and queer (LGBTQ) students are more visible than ever on U.S. college campuses, problems still remain. Three core issues are 1) identity development, 2) campus climate, and 3) state and national social and policy contexts. <br>Click <a style="color: #bc5a45" href="/orientation">here</a> to learn more about discrimination on the basis of sexual and gender orientation specifically on college campuses.</p>
        </div>
        <div class="column-right">
            <p><img src="static/studentslgbt.jpg" width="450" height="250" alt="LGBTQ+ BYU students and allies speak out against the school's discriminatory honor code"></p>
        </div>
    </div> 
    <div class="row-learn">
        <div class="column">
           <br><h2><b>Sexual Assault</b></h2>
            <p>Despite active efforts to put an end to sexual assault and misconduct on college campuses, these issues are still extremely prominent. Women are at least three times more likely to experience sexual assualt, and according to the Department of Justice, 80% of sexual violence cases go unreported. Women tend to avoid filing reports out of fear or embarrassment, coupled with the notion that police cannot do anything to help. <br>Click <a style="color: #bc5a45" href="/assault">here</a> to learn more about sexual assault on college campuses, as well as immediate steps to take in the case of an assualt.</p> 
        </div>
        <div class="column-right">
            <p><img src="static/assaultprotest.jpg" width="450" height="272" alt="Dickinson College students protesting their school's sexual misconduct policy"></p>
        </div>
    </div>
</div>
{% endblock %}