{% extends "layout.html" %}

{% block title %}
    View
{% endblock %}

{% block main %}
<form action="/view" method="post">
    <div style="text-align: center">
        <h2>Choose a Category</h2>
        <select style="width: 500px" name="type" id="type">
            <option value="select" selected disabled>Select One</option>
            <option value="racial">Personal Accounts of Racial Discrimination</option>
            <option value="orientation">Personal Accounts of Sexual/Gender Orientation</option>
            <option value="assault">Personal Accounts of Sexual Assault</option></select>
        <input type="submit" value="Go">
    </div>
</form>
{% endblock %}